/* This CSS is for styled elements on About page */
.about-body {
  margin: 0;
}
.about-wrapper {
  width: 100%;
  background: url("../images/aboutBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

#middle {
  margin-top: 7em;
  /*remove left/right/bottom margins?*/
  width: 100%;
/*  background: url("../images/aboutBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.innerbox {
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 7em;
  left: 1%;
  right: 2%;
  text-align: center;
  color: darkgreen;
  float: left;
  width: 40%;
  padding: 2.5%;
  border: 1px hidden black;
  border-radius: 5px;
  margin: 2%;
}

.teamPhotos {
  background-color: darkgray;
  opacity: .7;
  /*border: 1px hidden darkgreen;*/
  border-radius: 3px;
  /*width: 30%;*/
  height: 15em;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2% 0 1%;
  text-decoration: none;
  color: white;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;

}
.teamPhotos img {
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}
.innerbox:hover .hidden {
  display: block;
  background-color: rgba(0, 100, 0, 0.4);
/*  opacity: .8;*/
  border: 1px hidden darkgreen;
  border-radius: 3px;
  /*width: 30%;*/
  height: 15em;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2% 0 1%;
  text-decoration: none;
  color: white;
  overflow: scroll;
}
.innerbox:hover .teamPhotos {
  display: none;
}

.h1box {
  background-color: darkgray;
  opacity: .7;
  clear: both;
  position: relative;
  top: 7em;
  left: 27.5%;
  text-align: center;
  width: 40%;
  padding: 1% .75%;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 0.5%;
}
.ourTeam {
  display: block;
  background-color: white;
/*  opacity: .7;*/
  border: 1px white;
  border-radius: 3px;
  height: 4em;
  margin-left: 5%;
  margin-right: 5%;
  padding: .75% 0 .25%;
  overflow: hidden;
  text-align: center;
  color: darkgreen;
}
.hiddenTeam {
  display: none;
}
.h1box:hover .ourTeam {
  display: none;
}
.h1box:hover .hiddenTeam {
  display: block;
  background-color: rgba(0, 100, 0, 0.4);
  border: 1px darkgreen;
  border-radius: 3px;
  height: 4em;
  padding: 2% 0 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  color: white;
  overflow: scroll;
  vertical-align: middle;
}
.spacerAbout {
  clear: both;
  position: relative;
  top: 4em;
  left: 27.5%;
  text-align: center;
  width: 40%;
  padding: 1.5%;
  border: 1px hidden black;
  border-radius: 5px;
  margin-bottom: 0.5%;
}
.aboutFooter {
  clear: both;
  background-color: rgba(255, 255, 255, .9);
  margin-top: 10%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
footer table {
  display: inline-table;
  vertical-align: middle;
}
.copyrightAbout {
  text-align: center;
  background-color: black;
  opacity: .8;
  color: white;

}
