/* This CSS is for styled elements common to all pages in webstie */
body {
	font: 15px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

#master-wrapper {

}
/*  Header */
#master-header {
	position: fixed;
	top: 0;
	text-align: center;
	z-index: 100;
}
#logo,
#tagline {
	position: fixed;
	left: 40%;
	width: 20%;
	color: #008844;
	text-align: center;
	z-index: 10;
}
#logo {
	position: fixed;
	top: 0;
	margin-bottom: 1px;

}
#tagline {
	position: fixed;
	top: 2em;
	margin-top: 1px;
}
/*  Navbar */
#master-nav {
	width: 100%;
	height: 4em;
	padding-top: 3%;
	float: left;
	position: fixed;
	top: 0em;
	background-color: rgba(255, 255, 255, .9);
}
#master-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0 5%;
	width: 30%;
}
#master-nav ul li {
	float: left;
	width: 33%;
}
#right-nav {
	clear: right;
	float: right;
}
#master-nav ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: darkgreen;
	opacity: 1;
	padding: 1em 0;
	height: 100%;
}
#master-nav ul li a:hover{
	border-bottom: .2em solid darkgreen;
}

/*  Footer */
#master-footer {
	clear: both;
	padding: 2%;
	color: darkgreen;
}
#master-footer h3 {
	color: black;
}
#master-footer table {
	float: left;
	width: 24%;
	padding: 3%;
}
#master-footer img {
	height: 2em;
	width: auto;
}
#master-footer table a {
	color: darkgreen;
	text-decoration: none;
}
#master-footer #copyright {
	clear: both;
	height: 3em;
	padding: 1.5em 0 0 0;
	background-color: rgb(102, 153, 153);
	text-align: center;
	color: white;
}