/* This CSS is for styled elements common to all pages in webstie */
#master-wrapper {
	
}
/*  Header */
#logo,
#tagline {
	color: #008844;
	text-align: center;
}
#logo {
	margin-bottom: 1px;
}
#tagline {
	margin-top: 1px;
	
}
/*  Navbar */



/*  Footer */



