/* This CSS is for styled elements on Home page */
#middle {
	width: 100%;
	height: 45em;
	margin-top: 7em;
	background-image: url("../images/indexbackground.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}
#innerbox {
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	top: 20em;
	left: 30%;
	text-align: center;
	color: darkgreen;
	float: left;
	width: 40%;
	padding: 5% 0;
	border: 1px hidden black;
	border-radius: 5px;
}
#innerbox h1 {
	padding: 0 2%;
}
#bigMenuBtn {
	background-color: darkgreen;
	opacity: .8;
	border: 1px hidden darkgreen;
	border-radius: 3px;
	width: 30%;
	height: 2em;
	margin-left: 35%;
	padding: 2% 0 1%;
}
#middle a {
	width:30%;
	text-decoration: none;
	color: white;
}